@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
*{
    font-family: lora,serif;
}
.navbar{
    font-weight: bold;
}
.navbar-brand{
    font-family: 'Satisfy', cursive;
}
#myCarousel .carousel-item{
    height: 32rem;
    background-color:rgb(0, 0, 0);
    color: white;
    position: relative;
    height: 100vh;

}
.carousel-item >.container{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom:50px ;
}
.overlay-image{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: .5;
}
section{
    padding-top: 120px;
    
}
#About .divider{
    width: 60px;
    height: 2px;
    display: block;
    background-color: #f58d17;
}
.h1{
    margin-top: 20px;  
    border-bottom: #f58d17 2px solid ;  
    text-align: center;
}
.socail-media-icons a{
    font-size: 2rem;
    color: beige;
}
.socail-media-icons a:hover{
    color: #f58d17;
}

/* ------------------------- Menu Page Style ---------------------------------*/
/* this is the payment card style */
#model{
    background-color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    width: 60%;

    animation-name: animationmoddel;
    animation-duration: 0.5s;
}
#model > p{
    font-size: 1.5rem;
}
#close-btn{
    height: min-content;
    font-size:1.8rem;
    font-weight: bold;
    cursor: pointer;
    text-align: right;

}
#close-btn:hover{
    color: red;
}

#model-container{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color:rgb(0, 0, 0, 0.5);
}
@keyframes animationmoddel {
    from{
        top: -350px;
        opacity: 0;
    }
    to{
        top: 50%;
        opacity: 1;
    }
}
.under-img{
    display: flex;
    justify-content: center;
}
.visa{
    height: 30px;
    width: 50px;
    background-image: url(./image/payment/visa.png);
    background-position: center;
    background-size: cover;

}
.mastercard{
    height: 20px;
    background-image: url(./image/payment/mastercard.png);
    height: 30px;
    width: 50px;
    background-position: center;
    background-size: cover;

}
.maistro{
    height: 20px;
    background-image: url(./image/payment/maistro.png);
    height: 30px;
    width: 50px;
    background-position: center;
    background-size: cover;

}
.icons{
    display: flex;
    justify-content: space-around;
}
.btn-order{
    width: 20%;
    margin: auto;
    border-radius: 20px;
    background-color: transparent;
    border: black;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: 0 0 5px black;
    transition: all 0.5s;
    margin-top: 10px;
    margin-bottom: 10px;

}
.btn-order:hover{
    background-image: linear-gradient(rgb(252, 227, 0), rgb(255, 94, 0));
    letter-spacing: 3px;
    border: none;
}
/* this is all element style in this page */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap');
body{
    background-image: rgb(206, 206, 206);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.card button:hover{
    transform: scale(0.95);
    background-image: linear-gradient(rgb(252, 227, 0), rgb(255, 94, 0));
    color: rgb(34, 34, 34);
    letter-spacing: 5px;
    border: none;

}
.card button{
    transition: all .5s;
    text-transform: uppercase;
}
.botona {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 2px rgb(231, 197, 0);
    border: none;
    transition: 0.3s ease-in;
    font-weight: bold;
}
.mycard{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.mycard > img{
    height: 30vh;
    object-fit: cover;
    transition: all 0.5s;
}
.mycard > img:hover{
    transform: scale(1.1);

}
.hero{
    height: fit-content;
    position: relative;
    width: 100%;
    transition: 0.5s ease-in ;
}
.content{
    margin-top: -70px;
}
.hero h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    font-family: 'Noto Serif';
    height: 35vh;
    background-image: linear-gradient(rgb(0, 0, 0, 1), rgba(0, 0, 0,0));
}
#one{
    background-image: url(./image/Burgers/miha-rekar-ISVtBKNhJ2g-unsplash.jpg);
    background-position: center;
    background-size: cover;
}
#four{
    background-image: url(./image/Pizza/getulio-moraes-Wz3u9_GtkWc-unsplash.jpg);
    background-position: center;
    background-size: cover;
}
#three{
    background-image: url(./image/marco-lastella-V9EKaWLK4Pw-unsplash.jpg);
    background-position: center;
    background-size: cover;
}
#two{
    background-image: url(./image/Tacos&Panini/tacos.jpeg);
    background-position: center;
    background-size: cover;
}
.title{
    height: 35vh;
    width: 100%;
    overflow: hidden;
}

/*------------------------ RESRVation SECtion STYle ---------------------------*/
